.img-circle {
  width: 225px;
  height: 225px;
}

.skills .progress .progress-bar-primary {
  background: #fff;
}

.progress {
  background-color: #204090;
}

.education {
  min-height: 280px;
}

.contact {
  min-height: 280px;
}

.project-image {
  width: 100%;
  padding: 15px 0;
}

.experience {
  height: 500px;
}

.text-center {
  text-align: center;
}
